@charset "utf-8";
@import url("reset.css");


html,
body,
.wrapper,
.main {width:100%;height:100%;background:#eee}
.wrapper {position:relative;min-width:1200px}

.main {display:flex;justify-content:center;align-items:center}
.main .container {min-width:500px;margin:40px;padding:40px;background:#939393a1}
.main .logo {padding:0}
.main .content {padding:20px 0 40px}
.main .content .tit {text-align:center;font-size:50px;color:#fff}
.main .content .nav {width:400px;margin:10px auto;text-align:center}
.main .content .nav span {display:inline-block;font-size:16px;color:#999}
.main .content .nav span:not(:last-child):not(:nth-child(3))::after {content:'';display:inline-block;width:1px;height:8px;margin-left:10px;margin-right:10px;vertical-align:middle;background:#555}
.main .content .form {width:260px;margin:40px auto 0}
.main .content .form input {height:40px;}
.main .content .form input + input {margin-top:10px}
.main .content .form button {width:100%;height:40px;margin-top:10px;color:#fff;border-radius:4px;background:#00be64}
.main .content li.signin {width:100%;height:40px;margin-top:30px;text-align:center;}
.main .content li.signin a {color:#fff; }


.logo {padding:30px}
.logo a span {display:inline-block;height:40px;vertical-align:middle;font-weight:600;font-size:22px;color:#fff;box-sizing:border-box}
.logo a span:first-child {overflow:hidden;width:47px;text-indent:-999px;background:url('../images/logo.png') no-repeat 0 0}

.lnb {position:fixed;top:0;bottom:0;width:220px;background:#454545;z-index:100}
.lnb .nav {padding:20px 0}
.lnb .nav li a {display:block;padding:12px 35px;font-size:16px;color:#fff}
.lnb .nav li a.on {font-weight:600;color:#fff}
.lnb .nav li a:hover:not(.on) {color:#fff}
.lnb .nav li a.arrow {position:relative} 
.lnb .nav li a.arrow::after {content:'';position:absolute;top:12px;right:30px;display:block;width:24px;height:24px;background-image:url('../images/icon_lnb_arrow.png');background-repeat:no-repeat;background-position:0 0}
.lnb .nav li a.arrow.on::after {background-position-y:-24px}
.lnb .nav li ul {padding:0 10px}


.lnb .nav li.arrow {position:relative; display:block;padding:12px 35px 5px 35px;font-size:16px;color:#fff;} 
.lnb .nav li.arrow::after {content:'';position:absolute;top:12px;right:30px;display:block;width:24px;height:24px;background-image:url('../images/icon_lnb_arrow.png');background-repeat:no-repeat;background-position:0 0}
.lnb .nav li.arrow.on::after {background-position-y:-24px}
.lnb .nav .visible {display:block;margin-left:50px;} 
.lnb .nav .visible::before {display:block;margin-left:50px; margin-top:10px;} 
.lnb .nav .visible .btn1 {color:#fff;} 
.lnb .nav .visible .btn2 {color:#fff;} 
.lnb .nav .visible .btn3 {color:#fff;} 
.lnb .nav li ul {padding:0 10px}


.lnb .nav li a.on {font-weight:600;color:#fff}

.container {margin-left:220px;padding:40px}
.userInfo {text-align:right}
.userInfo button {margin-left:5px;padding:4px 8px;color:#fff;border-radius:4px;background:#00be64}
.title {font-weight:600;font-size:40px; color:white; text-align-last: center;}
.section {margin-top:20px;padding:20px 30px;background:#fff}

table {width:100%}
table th,
table td {padding:10px 0}
.form table {width:100%}
.form th,
.form td {padding:5px}
.form th {padding:5px 10px;text-align:right}
.form td {text-align:left}
.form th.critical::before {content:'*';padding-right:4px;color:#00be64}
.form input[type="text"] {background:#f5f5f5}
.form textarea {border: 1px solid #eee;
    background:#f5f5f5;
    border-radius: 4px;
    width: 100%;
    height: 36px;
    margin: 0;
    padding: 10px 10px;
    box-sizing: border-box;
    }
/* .form textarea {width: 100%; min-height: 6.25em; border-radius:4px; resize: none;color:#555; background:#f5f5f5; border:1px solid #eee;padding: 0 10px;} */

.form select {width:30%;padding-right:32px;border:1px solid #00be64;border-radius:4px;background:url('../images/icon_select.png') no-repeat center right}
.form select:only-child {width:100%}
.form select + select {margin-left:5px}
.form .button {width:99.7%;margin-top:10px;text-align:right}
.form .button button {text-align:right;padding:8px 20px;color:#fff;border-radius:4px;background:#00be64}
.list .total {text-align:right}
.list .total div {display:inline-block;color:#555; margin-bottom:10px;}
.list .total div + div {margin-left:10px}
.list .total span {color:#00be64}
.list .total + table {margin-top:10px}
.list th {border-right:1px solid #eee;background:#f5f5f5}
.list td {color:#555;border:1px solid #eee;border-width:0 1px 1px 0}
.list th:last-child,
.list td:last-child {border-right:0}
.list button {margin:1px;padding:2px 8px;font-size:12px;color:#00be64;border:1px solid #00be64;border-radius:4px;}
.list button {margin-left:2px}
.list .pointList th {color:#fff;background:#00be64}
p.dash-title {color:#00be64; margin-top:20px; margin-bottom:5px; font-weight:600; font-size:16px;}
td.cnt {color: #00be64;font-size: 16px;}
span.board-date{color:#333; font-size:14px;}

textarea {width: 100%; min-height: 6.25em; border: none; resize: none;}

.board tr:first-child th,
.board tr:first-child td {border-top:1px solid #eee}
.board th {padding-right:20px;text-align:right;background:#f5f5f5;border:1px solid #eee;border-width:0 1px 1px 0}
.board td {padding-left:20px;text-align:left;color:#555;border-bottom:1px solid #eee}
.board a {color:#00be64}
.board a:hover {text-decoration:underline}
.pagination {margin-top:20px;text-align:center}
.pagination li div {display:inline-block;width:26px;height:26px;vertical-align:middle;line-height:26px;font-size:12px;color:#555}
.pagination li div.on {line-height:24px;color:#00be64;border:1px solid #ffffff;box-sizing:border-box}
.pagination a {display:inline-block;width:26px;height:26px;vertical-align:middle;line-height:26px;font-size:12px;color:#555}
.pagination a.on {line-height:24px;color:#00be64;border:1px solid #00be64;box-sizing:border-box}
.pagination a.icon {color:#00be64; overflow:hidden;text-indent:-999px;background:url('../images/icon_page.png') no-repeat 0 0}
.pagination a.icon:hover:not(.disabled) {color:#00be64; background-position-y:-26px}
.pagination a.disabled {background-position-y:-52px}
.pagination a.first {background-position-x:0}
.pagination a.prev {margin-right:10px;background-position-x:-26px}
.pagination a.next {margin-left:10px;background-position-x:-52px}
.pagination a.last {background-position-x:-78px}
.pagination a:hover {color:#00be64}

.error {margin-top:150px;text-align:center}
.error strong {display:block;padding-top:120px;font-size:30px;color:#00be64;background:url('../images/error.png') no-repeat top center}
.error strong + span {margin-top:10px;  }
.error span {display:block;font-size:15px;  color:#555;}

a.tip {display:inline-block; cursor:help; position:relative; color:#353535;}
a.tip span{display:none;}
a.tip:hover span{ color:#00be64; background-color:#f4fcff; border-bottom:1px dotted #00be64; padding:0px 5px 0px 5px; display:block; z-index:100; 
left:0px; top:-22px; position:absolute; transform:translateX(-100%); left:100%; text-decoration:none; white-space:nowrap;}

th a.list-tip-var {display:inline-block; cursor:help; position:relative; color:#fff;}
th a.list-tip-var span{display:none;}
th a.list-tip-var:hover span{ color:#00be64; background-color:#f4fcff; border-bottom:1px dotted #00be64; padding:0px 5px 0px 5px; display:block; z-index:100; 
left:0px; top:-22px; position:absolute; transform:translateX(-50%); left:50%; text-decoration:none; white-space:nowrap;}


a.list-tip {cursor:help; position:relative; color:#353535;}
a.list-tip span{display:none;}
a.list-tip:hover span{ color:#00be64; background-color:#f4fcff; border-bottom:1px dotted #00be64; padding:0px 5px 0px 5px; display:block; z-index:100; 
left:0px; top:-22px; position:absolute; transform:translateX(-50%); left:50%; text-decoration:none; white-space:nowrap;}

a.list-tip1 {cursor:help; position:relative; color:#353535;}
a.list-tip1 span{display:none;}
a.list-tip1:hover span{ color:#00be64; background-color:#f4fcff; border-bottom:1px dotted #00be64; padding:0px 5px 0px 5px; display:block; z-index:100; 
left:0px; top:-22px; position:absolute; transform:translateX(-90%); left:100%; text-decoration:none; white-space:nowrap;}

a.down {margin-left:5px; margin-bottom:15px; padding:4px 8px;color:#fff;border-radius:4px;background:#00a2be}
a.down:hover {margin-left:5px;margin-bottom:15px;  padding:4px 8px;color:#fff;border-radius:4px;background:#00a2be}

td.red-font {padding:10px 0; color:red;}
td.blue-font {padding:10px 0; color:blue;}

button.green {  display:inline-block; margin-left:5px; margin-top:5px; margin-bottom:-300px; padding:4px 8px;color:#fff;border-radius:4px;background:#00a2be}
span.critical { display:inline; content:'*'; width:98%; text-align:right; color:#00a2be; padding-left:15px; }
td span.week-span {display:inline}

.form .week-button button { display: inline-block; position: relative;  padding:8px 20px;color:#fff;border-radius:4px;background:#00be64}
button.highlight { display:inlin-block; background-color: #8A2BE2;}

.starpoint_wrap{display:inline-block;}
.starpoint_box{position:relative;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 0 no-repeat;font-size:0;}
.starpoint_box .starpoint_bg{display:block;position:absolute;top:0;left:0;height:18px;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 -20px no-repeat;pointer-events:none;}
.starpoint_box .label_star{display:inline-block;width:10px;height:18px;box-sizing:border-box;}
.starpoint_box .star_radio{opacity:0;width:0;height:0;position:absolute;}
.starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10%;}
.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20%;}
.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:30%;}
.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:40%;}
.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:50%;}
.starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:60%;}
.starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:70%;}
.starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:80%;}
.starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:90%;}
.starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:100%;}

.blind{position:absolute;clip:rect(0 0 0 0);margin:-1px;width:1px;height: 1px;overflow:hidden;}


.week-table table {width:100%}
.week-table th,
.week-table td {padding:5px}
.week-table th {padding:5px 10px;text-align:right}
.week-table td {text-align:left}

.statSection {min-width: 1100px}